<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>

<body>
    <div class="container">
        <div class="side-nav-container">
            <img class="logo" src="assets/MaverixPro-logo.png" alt="MaverixPro Logo">
        </div>
        <div class="body-container">
            <div class="form-container">
                <h1>Create an Account</h1>
                <hr>
                <input type="text" placeholder="Full Name" name="fullName" id="Name" required>
                <br><br>
                <input type="text" placeholder="Email" name="email" id="email" required>
                <br><br>
                <input type="password" placeholder="Password" name="Password" id="password" required>
                <br><br>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"
                    required>
                <br><br>
                <button class="create-button" type="button">Create</button>
                <p>OR</p>
            </div>
            <div class="google-container">
                <button class="google-button" type="button" onclick="authService.GoogleAuth()">
                    Sign in with Google
                    <img class="google-image" src="../../assets/google.png" alt="Google Logo">
                </button>
            </div>
        </div>
    </div>
</body>

</html>